<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Perfil de Usuario
                </div>
                <div class="card-body">
                    ID: {{profile.id}}
                    <br>
                    Nombre: {{profile.name}}
                    <br>
                    Correo: {{profile.email}}
                    <br>
                    Fecha de Registro: {{profile.created_at}}
                </div>
            </div>
        </div>
    </div>
</div>